
.active {
    background-color: #4CAF50;
    color: white;
}

body {
    font-family: SansSerif;
    font-size: 25px;
    line-height: 40px;
    padding-top: 5rem;
    padding-right: 20rem;
    padding-left: 20rem;
    padding-bottom: 5rem;
}

#containerIntro h3,
#containerIntro p{
    display: inline;
    vertical-align: top;

}



h1 {
    text-align: center;
}
h2 {
    font-size: 40px;
    text-align: center;
}

p{
    color:slategray ;
}
